@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(184, 68, 184);
}
.mainDiv {
  width: 300px;
  height: 400px;
  background-color: rgb(97, 0, 97);
  margin: 100px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 2px 3px 3px, rgba(0, 0, 0, 0.24) 2px 3px 2px;
}
.mainDiv h4 {
  color: white;
  padding-top: 20px;
}
.mainDiv form {
  color: white;
  text-align: left;
  margin-left: 20px;
}
.mainDiv form input {
  margin-right: 20px;
  float: right;
}
.mainDiv form label,
.mainDiv form input {
  margin-top: 10px;
}
.generatedPassword {
  width: 230px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px auto 20px;
  border-radius: 4px;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}
.generatedPassword:-webkit-scrollbar {
  display: none;
}
.overflowed {
  margin-right: 130px;
  margin-top: 9px;
}
.fa-clipboard {
  color: white;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 22px;
  cursor: pointer;
}
.hello {
  display: flex;
}
.generateButton {
  height: 35px;
  margin-top: 35px;
  border-radius: 4px;
  border: 1px solid purple;
  background-color: rgb(133, 28, 182);
  color: white;
}
.generateButton:hover {
  background-color: rgb(110, 31, 146);
}

#option1 {
  width: 27px;
  height: 22px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
